@font-face {
  font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1318px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, "Arial";
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  width: 1318px;

  &::after {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #F5D581;
  }
}

.navigation {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 75px;

  & li .sublist {
    display: none;
    position: absolute;
    width: 170px;
    min-height: 90px;
    background-color: #ffffff;
    padding: 0;
    padding-top: 10px;
    list-style: none;
    box-shadow: 0 5px 8px 3px rgba(196, 196, 196, 0.18);
    z-index: 1;
  }

  & li:hover .sublist {
    display: block;
  }

  & ul li {
    float: left;
    position: relative;
  }
}

.navigation__list {
 display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  margin-right: 60px;

  &:last-child {
    margin: 0;
  }

  &--submenu {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 9px;
      background-image: url("../images/polygon1.svg");
      right: -18px;
      top: 11px;
    }
  }
}

.navigation__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #9F7303;
  }
}

.navigation__link--button {
  box-sizing: border-box;
  min-width: 191px;
  padding: 8px 34px;
  border: 1px solid #9F7303;
  border-radius: 8px;
}

.sublist__item:first-child a {
  color: #9F7303;
}

.sublist__link {
  padding-left: 10px;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #9F7303;
  }
}

.main__container {
  width: 1110px;
  margin: 0 auto;

  & h1 {
    margin: 0;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 59px;
  }
}

.wysiwyg-wrapper-promo {
  margin-bottom: 75px;

  & h2 {
    margin: 0;
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 49px;
    color: #9F7303;
  }

  & h3 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 39px;
    color: #9F7303;
  }

  & p {
    color: #9F7303;
    margin-bottom: 30px;
  }

  & span {
    display: block;
    margin-bottom: 30px;
  }

  & ul {
    padding-left: 18px;
    list-style-image: url(../images/dot.svg);
    margin-bottom: 30px;
  }

  & ul li {
    padding-left: 8px;
    margin-bottom: 7px;
  }

  & div {
    display: grid;
    grid-template-columns: 540px 540px;
    gap: 30px;
    padding-top: 20px;
    margin-bottom: 75px;
  }

  & figure {
    width: 920px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    color: #9F7303;
    text-align: center;
    border-top: 1px solid #F5D581;
    border-bottom: 1px solid #F5D581;

    & p {
      margin: 0;
      padding: 45px 95px;
    }
  }

}


.review {
  min-width: 1110px;
  background-color: #F4EFE2;
}

.review__title {
  font-size: 32px;
  color:#9F7303;
}

.review__container {
  width: 1110px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 30px;
}

.review__form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;

  &::after {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #F5D581;
  }
}

.form__text {
  height: 160px;
  padding: 0;
  padding-top: 20px;
  padding-left: 15px;
  margin-bottom: 30px;
  border: 1px solid #F5D581;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif, "Arial";
  font-size: 18px;
  line-height: 27px;

  &:focus {
    outline: none;
  border: 1px solid #9F7303;
  }
}

.form__name {
  width: 540px;
  height: 64px;
  padding-left: 15px;
  margin-bottom: 30px;
  border: 1px solid #F5D581 ;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif, "Arial";
  font-size: 18px;
  line-height: 27px;

  &:focus {
    outline: none;
    border: 1px solid #9F7303;
  }
}

.form__button {
  width: 285px;
  height: 64px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #9F7303;
  font-family: "Montserrat", sans-serif, "Arial";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;

  &:hover {
    opacity: 70%;
  }
}

.form__button-wrapper {
  display: flex;
}

.form__button-wrapper-text {
  display: flex;
  width: 200px;
  align-items: center;
  padding-left: 15px;
  font-size: 12px;
  line-height: 18px;
  opacity: 70%;
}

.review__list {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

.list__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px auto;
  margin-bottom: 30px;
}

.list__item-image-wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F5D581;
}

.list__item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  text-indent: -100vh;
}

.list__item-name {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 15px;;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.list__item-text {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 15px;
}
